<div>
  <div class="title">{{title}}</div>
  <ion-row [ngClass]="{'drawing-active': isDrawing}">
    <ion-col>
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-col>
  </ion-row>
  <button ion-button full color="danger" (click)="clearPad()">Clear</button>
</div>