<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let item of bills">
      <ion-item>
        <ion-label>
          {{item.id}}
          {{item.data.name}}
        <p>{{item.data.date}}</p>
        </ion-label>
        <p>Rs. 1000</p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="dark">
          <ion-icon name="create-outline" (click)="openBill(item.id)"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>