<ion-header>
  <ion-toolbar>
    <ion-title>single</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Name:  {{bill.name}}
  address:  {{bill.address}}
  date: {{bill.date}}

  <ion-card *ngFor="let detail of details">
    <ion-card-header>
      <ion-card-subtitle>{{detail.item}}</ion-card-subtitle>
      <ion-card-title>{{detail.amount}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>{{titles.count}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{titles.kgs}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{titles.gms}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{titles.rate}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

</ion-content>
