<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add Recepient Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
  <app-input-write #name [title]="titles.name"></app-input-write>
  <app-input-write #address [title]="titles.addr"></app-input-write>
  
  <input type="text" placeholder="Please enter Date" [(ngModel)]="data.date"/>
  <br/><br/>

  <ion-button size="small" (click)="billSave()">Save Data</ion-button>
  <br/><br/>
</ion-content>
