<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button size="small" (click)="addDetails()">Add details</ion-button>
  <form [formGroup]="billForm">
    <section class="container border mb-4 p-3" formArrayName="details" 
        *ngFor="let detail of detailsControls; let i = index;">
      <ion-button size="small" (click)="removeDetails(i)" *ngIf="details?.length > 1">Remove details</ion-button>
      <div [formGroupName]="i">
        <app-input-write title="Item" formControlName="item"></app-input-write>
        <ion-item>
          <ion-label position="floating">{{titles.count}}</ion-label>
          <ion-input type="number" required pattern="[0-9]*" formControlName="count"></ion-input>
        </ion-item>  
        <br/>
        <ion-item>
          <ion-label position="floating">{{titles.kgs}}</ion-label>
          <ion-input type="number" required pattern="[0-9]*" formControlName="kgs"></ion-input>
        </ion-item>
        <br/>
        <ion-item>
          <ion-label position="floating">{{titles.gms}}</ion-label>
          <ion-input type="number" required pattern="[0-9]*" formControlName="gms"></ion-input>
        </ion-item>
        <br/>
        <ion-item>
          <ion-label position="floating">{{titles.rate}}</ion-label>
          <ion-input type="number" required pattern="[0-9]*" formControlName="rate"></ion-input>
        </ion-item>
      </div>
    </section>
    
  </form>
  <ion-button size="small" (click)="saveDetails()">Save Data</ion-button>

</ion-content>
